[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
neovim = "*"
flake8 = "*"

[packages]
scrapy = "*"
shub = "*"
guppy = "*"

[requires]
python_version = "3.7"
